= simple_form_for(@contact) do |f|
  = f.error_notification

  .form-inputs
    = hidden_field_tag :sort, @sort
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :phone

  .form-actions
    = f.button :submit
