- title t('.title')

%p.nav
  - if can? :new, Contact
    = link_to t('.new_contact'), new_contact_path(sort: @sort), :class => 'new onpage'
  - if can? :export, Contact
    = link_to t('.export_contacts'), export_contacts_path, :class => 'export'
  - if can? :import, Contact
    = link_to t('.import_contacts'), import_contacts_path(sort: @sort), :class => 'import onpage'

- colspan = 0

%table
  %thead
    %tr
      %th
        = link_to Contact.human_attribute_name(:first_name), contacts_path(sort: 'first_name')
      %th
        = link_to Contact.human_attribute_name(:middle_name), contacts_path(sort: 'middle_name')
      %th
        = link_to Contact.human_attribute_name(:last_name), contacts_path(sort: 'last_name')
      %th
        = link_to  Contact.human_attribute_name(:phone), contacts_path(sort: 'phone')

      - if colspan > 0
        %th{:colspan => 3}= t 'actions'

  %tbody
    = render @contacts

#onpage{style: 'display: none;'}
  %a.close{:title => t('.close_overlay')}
    X
  .content
