!!! 5
%html

  %head
    %title
      = yield(:title) || "Untitled"
      |
      = t :application_name
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = favicon_link_tag 'application.ico'
    = stylesheet_link_tag "application-#{@text_direction}"
    = javascript_include_tag 'application'
    = csrf_meta_tag
    /[if IE]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    -# = include_wice_grid_assets
    = yield(:head)

  %body{:lang => I18n.locale, :dir => @text_direction, :class => @text_direction}
    -# @debug_ability.each do |ability|
      %p
        = ability.inspect
    #container
      #user_nav
        - if logged_in?
          -#= t :you_are_logged_as, :name => current_user.name # TODO
          = t :you_are_logged_as, :name => current_user.email
          |
          = link_to t(:edit_profile), edit_user_path(current_user)
          |
          = link_to t(:logout), logout_path
        - else
          = link_to t(:sign_up), new_user_path
          |
          = link_to t(:login), login_path
        |
        - I18n.available_locales.each do |lang|
          - if lang == I18n.locale
            %span.current_language
              = lang.to_s.upcase
          - elsif request.get?
            = link_to lang.to_s.upcase, request.fullpath.sub(I18n.locale.to_s, lang.to_s)
          - else
            %span.other_language
              = lang.to_s.upcase

      -# = render 'layouts/main_menu'

      #content
        - flash.each do |name, msg|
          = content_tag :div, msg.html_safe, :id => "flash_#{name}"

        - if show_title?
          %h1
            = image_tag 'logo.png'
            = yield(:title)

        = yield
